
.vs/AspNetCoreTodo/v16/Server/sqlite3/storage.ide-wal
.vs/AspNetCoreTodo/v16/Server/sqlite3/storage.ide-wal
.vs/AspNetCoreTodo/v16/Server/sqlite3/storage.ide-shm
.vs/AspNetCoreTodo/v16/Server/sqlite3/storage.ide
.vs/AspNetCoreTodo/v16/.suo
